* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.grid-item {
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
  margin: 1px;
}
.item1 { 
  grid-area: one;
 }

.item2 {    
  grid-area: two;
}

.item3 {
  grid-area: three;
}
.item4 {  
  grid-area: four;
}
.item5 {   
  grid-area: five;
}
.item6{
  grid-area: six;
}

.item7{
  grid-area: seven;
}

.item8{
  grid-area: eight;
}
.item9{
  grid-area: nine;
}
.item10{
  grid-area: ten;
}
.grid-container{
  display: grid;
  padding:5px;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-template-areas: "one one three three three" "two four three three three" "five five three three three" "five five six seven eight" "nine ten ten ten ten";
}

/* Add your code here */



@media (max-width: 415px) {
  .grid-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-template-areas: "one one two four" "five five six nine" "five five six nine" "ten ten ten ten";
}
.item3{  display: none; }
.item7{  display: none; }
.item8{  display: none; }
}
 